<div class="back">
  <div class="container">
    <header>
      <div class="logos">
        <img src="./assets/icons-logos/logo-riot-games.png" alt="Riot Games Logo">
        <img src="./assets/icons-logos/logo-valorant.png" alt="Valorant Logo">
      </div>
      <div class="nav-bar">
        <a href="#">Informações</a>
        <a href="#">Mídia</a>
        <a href="#">Suporte</a>
      </div>
      <img src="./assets/icons-logos/icon-share.png" alt="Share Icon">
    </header>
    <div class="text">
      <p>Um jogo de tiro tático baseado em personagem 5v5</p>
      <img src="./assets/icons-logos/logo-valorant-letter.png" alt="Logo Valorant Letter">
      <p>Valorant é um jogo eletrônico multijogador gratuito para jogar de tiro em primeira pessoa desenvolvido e publicado pela Riot Games.</p>
      <p>Baixe e jogue VALORANT hoje</p>
      <button>Baixar Agora</button>
    </div>
    <footer>
      <p>© 2021 Riot Games, Inc. Riot Games, VALORANT e quaisquer logotipos associados são marcas comerciais, marcas de serviço e/ou marcas registradas da Riot Games, Inc.</p>
    </footer>
  </div>
</div>
